@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom tweaks für GitHub-Next-Style */
body {
  font-family: 'Inter', sans-serif;
  color: white;
}

button {
  outline: none;
  border: none;
}

button:disabled {
  opacity: 0.8;
}
